.main {
  margin: auto;
  max-width: 90vw;
  width: 500px;
  text-align: center;
  padding: 5vh 0 5vh;
}

.image {
  width: 50vmin;
  &-select {
    display: block;
    margin: 2vh auto;
  }
}

.settings {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.color {
  display: grid;
  padding: 1rem 3rem;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  justify-items: flex-start;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  &-item {
    display: flex;
    justify-content: center;
    list-style: 0;

    height: 20px;

    &-block {
      width: 1.4rem;
      height: 1.4rem;
      margin-right: 1rem;
    }
  }
}

* {
  margin: 0;
  padding: 0;
}
